.form {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 25px;
    background-color: bisque;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.input:hover, .input:focus {
    border: 1px solid lightskyblue;
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.button:hover, .button:focus {
    background-color: lightskyblue;
}

